/* Reset e estilo base */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background: #f8f9fa;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.top {
  position: fixed;
  font-size: 14px;
  cursor: pointer;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 24px;
  background: #22356F;
  color: white;
  border-radius: 0 0 18px 18px;
  box-shadow: 0 4px 18px rgba(0,0,0,0.35);
  z-index: 1000;
  text-decoration: underline;
}

.top .mini {
  width: 52px;
  height: 52px;
  border-radius: 14px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  object-fit: cover;
  transition: transform 0.2s ease, border-color 0.2s ease;
}

.top .mini:hover {
  transform: scale(1.05);
  border-color: #38bdf8;
}

.card {
  width: 92%;
  max-width: 420px;
  padding: 28px 24px;
  border-radius: 16px;
  background: white;
  margin-top: 100px;
  box-shadow: 0 12px 25px rgba(2,6,23,0.1);
}

.card .muted {
  display: block;
  width: 100%;
  text-decoration: none;
  color: #22356F;
  font-size: 14px;
  text-align: center;
  margin-top: 14px;
}

h2 {
  text-align: center;
  margin-bottom: 18px;
  color: #22356F;
  font-size: 28 px;
}

input {
  display: block;
  width: 100%;
  padding: 12px 14px;
  margin: 10px 0;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 16px;
}

input:focus {
  outline: none;
  border-color: #22356F;
  box-shadow: 0 0 8px rgba(34,53,111,0.4);
}

.primary {
  width: 100%;
  padding: 14px;
  border: none;
  border-radius: 12px;
  background: #22356F;
  color: white;
  font-weight: 600;
  cursor: pointer;
  margin-top: 15px;
}

.primary:hover {
  background: #22356F;
  box-shadow: 0 6px 15px rgba(34, 53, 111, 0.4);
  transform:  translateY(-2px);
  transition: all 0.3s;
}

/* ========================
   Radios Cliente / Estabelecimento
========================= */
.user-type {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 15px;
}

.signup-container input[type="radio"] {
  display: none;
}

.radio-label {
  display: inline-block;
  background: white;
  color: #22356F;
  padding: 8px 16px;
  border-radius: 12px;
  border: 1px solid #22356F;
  cursor: pointer;
  transition: 0.3s; 
}

#cliente:checked + .radio-label[for="cliente"] {
  background: #22356F;
  color: white;
}

#estabelecimento:checked + .radio-label[for="estabelecimento"] {
  background: #22356F;
  color: white;
}

/* ========================
   Alternar campos
========================= */
.signup-container .fields {
  display: none;
  margin-top: 10px;
}

#cliente:checked ~ form #clienteFields {
  display: block;
}

#estabelecimento:checked ~ form #establishmentFields {
  display: block;
}
